.requests-main-card {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
}

.requests-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 18px;
}
