<div style=" margin-top: 20px;">
  <mat-card>
    <mat-card-title>
      Add user
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="ucForm">
        <!-- New lab member form -->
        <mat-form-field appearance="standard" style="width: 95%;">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 95%;">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastname" required>
        </mat-form-field>
        <mat-form-field appearance="email" style="width: 95%;">
          <mat-label>Email</mat-label>
          <input matInput formControlName="username" type="email" required>
        </mat-form-field>
        <mat-form-field appearance="password" style="width: 95%;">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <mat-form-field appearance="password" style="width: 95%;">
          <mat-label>Confirm Password</mat-label>
          <input matInput class="form-control" formControlName="confirmpassword" type="password" required>
        </mat-form-field>
      </form>
      <div *ngIf="ucForm.get('confirmpassword').errors?.notSame" class="alert alert-danger">
        Passwords do not match
      </div>
      <button mat-raised-button color="accent" (click)="submit()" [disabled]="ucForm.invalid">Add</button>
    </mat-card-content>
  </mat-card>
</div>
