<mat-card style="margin-top: 1vh; margin-bottom: 1vh; margin-left: 1vw;">
  <mat-form-field style="width: 100%;">
    <input matInput (keyup)="applyFilter($event)">
    <mat-placeholder>Filter</mat-placeholder>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" style="width: 100%;">
    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef> Filename </th>
      <td mat-cell *matCellDef="let entry">
        <mat-checkbox (change)="listChange(entry, $event)" [checked]="checkIfElementSelected(entry)">
          {{entry.filename}}
        </mat-checkbox>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons [hidePageSize]="true"></mat-paginator>
</mat-card>
