<div style=" margin-left: 20px;">
    <mat-card>
        <mat-card-title *ngIf="isEdit">
            Edit {{oldName}}
        </mat-card-title>
        <mat-card-title *ngIf="!isEdit">
            New instrument
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="systemFrom">
                <mat-form-field appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </form>
            <br>
            <button mat-raised-button color="primary" (click)="save()" [disabled]="!systemFrom.valid">Save</button>
            <button mat-raised-button color="accent" (click)="delete()" style="margin-left: 10px;">Delete</button>
            <button mat-raised-button color="basic" (click)="goBack()" style="margin-left: 10px;">Go back</button>
        </mat-card-content>
    </mat-card>
</div>
