<mat-card style="margin-left: 20px;">
  <mat-card-title>
    Date Selector
  </mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="supportsWeekInput">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field>
          <input class="week" type="week" matInput name="week1" id="week1" [formControl]="dateStart"
            value="{{todayYear + '-W' + fourWeeksAgo}}" max="{{todayYear + '-W' + todayWeek}}"
            [(ngModel)]="weekPickerStart">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field>
          <input class="week" type="week" matInput name="week2" id="week2" [formControl]="dateEnd"
            max="{{todayYear + '-W' + todayWeek + 1}}" value="{{todayYear + '-W' + todayWeek}}"
            [(ngModel)]="weekPickerEnd">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="submitDates()">Search</button>
    </ng-container>

    <ng-container *ngIf="!supportsWeekInput">
      <h3>
        From:
      </h3>
      <div>
        Week:
        <mat-form-field style="width: 20%;">
          <mat-select [(value)]="weekStartAlter">
            <mat-option *ngFor="let item of allWeeks" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        Year:
        <mat-form-field style="width: 35%;">
          <mat-select [(value)]="yearStartAlter">
            <mat-option *ngFor="let item of allYears" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h3>
        To:
      </h3>
      <div>
        Week:
        <mat-form-field style="width: 20%;">
          <mat-select [(value)]="weekEndAlter">
            <mat-option *ngFor="let item of allWeeks" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        Year:
        <mat-form-field style="width: 35%;">
          <mat-select [(value)]="yearEndAlter">
            <mat-option *ngFor="let item of allYears" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="submitDatesAlter()"
        [disabled]="(yearEndAlter<yearStartAlter) || (!yearEndAlter || !yearStartAlter|| !weekStartAlter|| !weekEndAlter) || (yearStartAlter == yearEndAlter && weekEndAlter < weekStartAlter)">Search</button>
    </ng-container>

  </mat-card-content>
</mat-card>