<div *ngIf="requestCode != undefined" fxLayout="column">

  <app-request-plot-plot [cs]="[1]" [param]="'1'" [requestCode]="requestCode" [name]="'Total number of grouped proteins'" *ngIf="application && application.applicationConstraint.showIdentifiedProteinsPlot"></app-request-plot-plot>
  <app-request-plot-plot [cs]="[2]" [param]="'1'" [requestCode]="requestCode" [name]="'Total number of peptides'" *ngIf="application && application.applicationConstraint.showIdentifiedPeptidesPlot"></app-request-plot-plot>
  <app-request-plot-plot [cs]="[6]" [param]="'1'" [requestCode]="requestCode" [name]="'Missed cleavages'" *ngIf="application && application.applicationConstraint.showIdentifiedPeptidesPlot"></app-request-plot-plot>
  <app-request-plot-plot [cs]="[3, 4, 5]" [param]="'1'" [requestCode]="requestCode" [name]="'Charges distribution'" *ngIf="application && application.applicationConstraint.showChargesPlot"></app-request-plot-plot>

  <app-request-plot-fileinfo [requestCode]="requestCode" *ngIf="application && application.applicationConstraint.showFileInfoPlot"></app-request-plot-fileinfo>

  <app-request-plot-modifications [requestCode]="requestCode" *ngIf="application && application.applicationConstraint.showModificationsPlot" [name]="'Total number of identified grouped proteins'" [type]="'total-numbers'"></app-request-plot-modifications>
  <app-request-plot-modifications [requestCode]="requestCode" *ngIf="application && application.applicationConstraint.showHistonesTailored" [name]="'Lab tailored reaction'" [type]="'histones-tailored'"></app-request-plot-modifications>
  <app-request-plot-modifications [requestCode]="requestCode" *ngIf="application && application.applicationConstraint.showHistonesBiological" [name]="'Biological reaction'" [type]="'histones-biological'"></app-request-plot-modifications>

</div>
<app-request-heatmap [requestCode]="requestCode" *ngIf="requestCode && application && application.applicationConstraint.showQuantificationHeatMap" style="margin-top: 100px;"></app-request-heatmap>

<!-- <app-request-dendogram [requestCode]="requestCode" *ngIf="requestCode && application && application.applicationConstraint.showDendogram && !isNeonDisabled"></app-request-dendogram>-->
