<div *ngIf="requestCode != undefined" fxLayout="column">
  <app-request-plot-plot [cs]="'1'" [param]="'1'" [requestCode]="requestCode" *ngIf="application && application.applicationConstraint.showIdentifiedProteinsPlot"></app-request-plot-plot>
  <app-request-plot-plot [cs]="'2'" [param]="'1'" [requestCode]="requestCode" *ngIf="application && application.applicationConstraint.showIdentifiedPeptidesPlot"></app-request-plot-plot>
  <app-request-plot-fileinfo [requestCode]="requestCode"></app-request-plot-fileinfo>
  <!-- <app-request-plot-modifications></app-request-plot-modifications> -->
</div>
<app-request-heatmap [requestCode]="requestCode" *ngIf="requestCode && application && application.applicationConstraint.showQuantificationHeatMap" style="margin-top: 100px;"></app-request-heatmap>

<!-- <app-request-pca [requestCode]="requestCode"></app-request-pca> -->
