<div *ngIf="requestCode != undefined" fxLayout="column">

  <!-- Legacy plots not migrated yet -->

  <app-request-plot-fileinfo
    [requestCode]="requestCode"
    *ngIf="application && application.applicationConstraint.showFileInfoPlot && !application.applicationConstraint.showModificationsPlot"
    [name]="'Number of modified peptides'">
  </app-request-plot-fileinfo>

  <app-request-plot-modifications
    [requestCode]="requestCode"
    *ngIf="application && application.applicationConstraint.showModificationsPlot"
    [name]="'Number of modification sites'"
    [type]="'total-numbers'"
    tooltip="general-site-modifications">
  </app-request-plot-modifications>

  <app-request-plot-fileinfo
    [requestCode]="requestCode"
    *ngIf="application && application.applicationConstraint.showFileInfoPlot && application.applicationConstraint.showModificationsPlot"
    [name]="'Number of modified peptides'"
    tooltip="general-peptides-modified">
  </app-request-plot-fileinfo>

  <app-request-plot-modifications
    [requestCode]="requestCode"
    *ngIf="application"
    [name]="'Polymer contaminants (%TIC)'"
    [type]="'polymer-contaminants'"
    [tooltip]="'general-polymer-contaminants'">
  </app-request-plot-modifications>

  <app-request-plot-modifications
    [requestCode]="requestCode"
    *ngIf="application && application.applicationConstraint.showHistonesBiological"
    [name]="'N-term Propionyl'"
    [type]="'histones-biological'">
  </app-request-plot-modifications>

  <app-request-plot-modifications
    [requestCode]="requestCode"
    *ngIf="application && application.applicationConstraint.showHistonesTailored"
    [name]="'N-term PIC'"
    [type]="'histones-tailored'">
  </app-request-plot-modifications>

</div>

<!-- Statistical charts still legacy -->
<app-request-heatmap
  [requestCode]="requestCode"
  *ngIf="requestCode && application && application.applicationConstraint.showQuantificationHeatMap"
  style="margin-top: 100px;">
</app-request-heatmap>