<mat-card class="wetlab-details-card">

  <mat-card-title>
    {{wetlab.name}}
  </mat-card-title>

  <mat-divider></mat-divider>

  <div class="wetlab-details-content">

    <div class="wetlab-date-panel">
      <app-date-selector></app-date-selector>
    </div>

    <div class="wetlab-charts-panel">
      <ng-container *ngFor="let plot of wetlab.plot">
        <app-wetlab-plot
          [plot]="plot"
          [wetlab]="wetlab">
        </app-wetlab-plot>
      </ng-container>
    </div>

  </div>

</mat-card>
