<mat-card style="margin-top: 1vh; margin-bottom: 1vh; margin-left: 1vw;">
  <mat-card-title>
    Quantification
  </mat-card-title>
  <mat-card-subtitle *ngIf="file">
    {{file.filename}}
  </mat-card-subtitle>
  <mat-card-content *ngIf="!nothingSelected">
    <mat-tab-group>
      <mat-tab label="Proteins">
        <table mat-table [dataSource]="dataSource" style="width: 100%;" *ngIf="!proteinsEmpty">
          <ng-container matColumnDef="accession">
            <th mat-header-cell *matHeaderCellDef> Accession </th>
            <td mat-cell *matCellDef="let entry">
              {{entry.accession}}
            </td>
          </ng-container>
          <ng-container matColumnDef="abundance">
            <th mat-header-cell *matHeaderCellDef> Abundance </th>
            <td mat-cell *matCellDef="let entry">
              {{entry.abundance}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
        <p *ngIf="proteinsEmpty" style="margin-top: 20px;">
          Nothing found
        </p>
      </mat-tab>
      <mat-tab label="Contaminants">
        <table mat-table [dataSource]="dataSourceContaminants" style="width: 100%;" *ngIf="!contaminantsEmpty">
          <ng-container matColumnDef="accession">
            <th mat-header-cell *matHeaderCellDef> Accession </th>
            <td mat-cell *matCellDef="let entry">
              {{entry.accession}}
            </td>
          </ng-container>
          <ng-container matColumnDef="abundance">
            <th mat-header-cell *matHeaderCellDef> Abundance </th>
            <td mat-cell *matCellDef="let entry">
              {{entry.abundance}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
        <p *ngIf="contaminantsEmpty" style="margin-top: 20px;">
          Nothing found
        </p>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-content *ngIf="nothingSelected">
    <p>
      Click on a bar at the chart.
    </p>
  </mat-card-content>
</mat-card>
