<div style="margin-left: 20px;">
    <mat-card>
        <mat-card-title>
            Requests creator
        </mat-card-title>
        <mat-card-content>
          <div fxLayout="row">
            <form [formGroup]="leForm">
            <div fxFlex.gt-md = "50">
                  <mat-form-field appearance="standard" style="width: 95%;">
                      <mat-label>Request code. Must be exactly any of the "Patterns" column in the assets/default_methods.csv file</mat-label>
                      <input matInput formControlName="code" required>
                    </mat-form-field>
                    <mat-form-field appearance="standard" style="width: 95%;" *ngIf="isEdit && requestFromServer.id != undefined">
                      <input matInput [value]="requestFromServer.application.name" [disabled]="true" required>
                    </mat-form-field>
                    <mat-form-field appearance="standard" style="width: 95%;" [class.hide]="isEdit">
                      <mat-label>App name. Must be exactly any of the "Name" column in the assets/default_methods.csv file</mat-label>
                      <mat-select formControlName="application">
                          <mat-option *ngFor="let app of allApplications" [value]="app">
                              {{app.name}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="standard" style="width: 95%;">
                      <mat-label>Request creation date</mat-label>
                      <input matInput formControlName="date" type="datetime-local" required>
                    </mat-form-field>
                    <mat-form-field appearance="standard" style="width: 95%;">
                      <mat-label>Lab name (e.g. Sabido Lab)</mat-label>
                      <input matInput formControlName="group">
                    </mat-form-field>
                    <mat-form-field appearance="standard" style="width: 95%;">
                      <mat-label>User name (e.g. Roger Olivella)</mat-label>
                      <input matInput formControlName="creator">
                    </mat-form-field>
                    <mat-form-field appearance="standard" style="width: 95%;">
                      <mat-label>Sample organism (e.g. Human)</mat-label>
                      <input matInput formControlName="taxonomy">
                    </mat-form-field>
                    <mat-form-field appearance="standard" style="width: 95%;">
                        <mat-label>Request status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let status of requestStatusValuesKeys()" [value]="status">
                              {{status}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex.gt-md = "50">
                    <mat-form-field appearance="standard" style="width: 95%;">
                      <input matInput class="lmao" formControlName="sample">
                      <mat-label>Sample (Optional)</mat-label>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addSample()" style="margin-bottom: 20px;">Add sample</button>
                    <p *ngFor="let sample of allSamples">
                      {{sample}}
                      <span class="material-icons" style="cursor: pointer;" (click)="removeSample(sample)">
                        delete
                      </span>
                    </p>
                  </div>
                </form>
          </div>
          <button mat-raised-button color="accent" (click)="submit()" [disabled]="leForm.invalid">Save</button>
          <button mat-raised-button color="warn" (click)="delete()" style="margin-left: 15px;"[disabled] = "!deleteable">Delete</button>
          <button mat-raised-button color="link" (click)="goBack()" style="margin-left: 15px;" >Go back</button>

        </mat-card-content>
    </mat-card>

</div>
