<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z5">
    <span class="pointer top-logo"><img (click)="goToHomePage()" src="assets/logo-qsample.png" alt="QSample logo"></span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="goToFavorites()">
      <mat-icon>star</mat-icon>
    </button>
    <app-theme-selector></app-theme-selector>
    <button mat-icon-button (click)="goToSettings()" *ngIf="isAdmin">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="goToHelp()">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
