<mat-card
  *ngIf="request != undefined"
  class="request-details-card">

  <mat-card-title class="request-details-header">
    <span>Request details</span>

    <button
      *ngIf="!isLocalMode"
      mat-stroked-button
      class="request-details-more-button"
      (click)="openDialog(request)">
      More
    </button>
  </mat-card-title>

  <mat-card-content class="request-details-content">

    <div class="request-detail-row">
      <div class="request-detail-label">Application</div>
      <div class="request-detail-value">{{request.classs}}</div>
    </div>

    <div class="request-detail-row">
      <div class="request-detail-label">Creator</div>
      <div class="request-detail-value" *ngIf="!isLocalMode">
        <span [innerHTML]="request.created_by.name"></span>
        <span *ngIf="request.created_by.email">
          ({{request.created_by.email}})
        </span>
      </div>
      <div class="request-detail-value" *ngIf="isLocalMode && request.creator">
        <span [innerHTML]="request.creator"></span>
      </div>
    </div>

    <div class="request-detail-row">
      <div class="request-detail-label">Creation date</div>
      <div class="request-detail-value">{{request.date_created | date: 'yyyy-MM-dd'}}</div>
    </div>

    <div class="request-detail-row">
      <div class="request-detail-label">Lab name</div>
      <div class="request-detail-value">
        <span [innerHTML]="request.group"></span>
      </div>
    </div>

    <div
      class="request-detail-row"
      *ngIf="getFieldValue('QSample-DB')">
      <div class="request-detail-label">QSample-DB</div>
      <div class="request-detail-value">{{getFieldValue('QSample-DB')}}</div>
    </div>

  </mat-card-content>
</mat-card>
