<h2 mat-dialog-title>{{user.username}} roles</h2>
<mat-dialog-content class="mat-typography">
  <p *ngIf="isInternal" class="mat-body-2">Internal user</p>
  <p *ngIf="isExternal">External user</p>
  <p *ngFor="let role of user.roles">
    {{role.name}}
  </p>
  <ng-container>
    <button mat-button (click)="modifyRole('external')">To external</button>
    <button mat-button (click)="modifyRole('internal')">To internal basic</button>
    <button mat-button (click)="modifyRole('manager')">To internal manager</button>
    <button mat-button (click)="modifyRole('admin')">To internal admin</button>

  </ng-container>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Exit</button>
</mat-dialog-actions>
