<h2 mat-dialog-title>{{user.username}} roles</h2>
<mat-dialog-content class="mat-typography">
  <p *ngIf="isInternal && isManager" class="mat-body-2">Lab Manager</p>
  <p *ngIf="isInternal && !isManager" class="mat-body-2">Internal User</p>
  <p *ngIf="isExternal" class="mat-body-2">External User</p>
  <!-- <p *ngFor="let role of user.roles"> -->
  <!--   {{role.name}} -->
  <!-- </p> -->
  <ng-container>
    <!-- <button mat-button (click)="modifyRole('external')">To External User</button> -->
    <button mat-button (click)="modifyRole('internal')">To Internal User</button>
    <button mat-button (click)="modifyRole('manager')">To Lab Manager</button>
    <!-- <button mat-button (click)="modifyRole('admin')">To internal admin</button> -->

  </ng-container>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Exit</button>
</mat-dialog-actions>
