.dynamic-charts-container {
  width: 100%;
}

.chart-card {
  padding: 16px;
  margin-bottom: 20px;
  background: white;
  border-radius: 4px;
}

.plot-container {
  width: 100%;
  min-height: 400px;
}