.dynamic-charts-container {
  width: 560px;
}

.notFound {
  width: 560px;
  height: 480px;
  line-height: normal;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.plot-container {
  width: 560px;
  height: 400px;
}