<div class="qgenerator-two-columns">
  <div class="qgenerator-left-column">
    <div style=" margin-left: 20px;">
      <mat-card>
        <mat-card-title>
          Instruments
          <button mat-icon-button (click)="newSystem()" style="float: right;">
            <mat-icon>add_circle</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-content>
          <table style="width: 100%;" mat-table [dataSource]="instrumentSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let entry"> {{entry.name}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="selectInstrument(myRowData)"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="qgenerator-right-column">
    <mat-card>
     <mat-card-title>
          Applications
          <button mat-icon-button (click)="newSystem()" style="float: right;">
            <mat-icon>add_circle</mat-icon>
          </button>
      </mat-card-title>
      <mat-card-content>
        <table mat-table [dataSource]="applicationSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} <input type="checkbox"></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>

          <!-- <table style="width: 100%;" mat-table [dataSource]="applicationSource"> -->
          <!--   <ng-container matColumnDef="name"> -->
          <!--     <th mat-header-cell *matHeaderCellDef> Name </th> -->
          <!--     <td mat-cell *matCellDef="let entry"> {{entry.name}} </td> -->
          <!--   </ng-container> -->
          <!--   <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr> -->
            <!-- <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="selectInstrument(myRowData)"></tr> -->
          <!-- </table> -->
        </mat-card-content>

    </mat-card>
    <mat-card>
      <mat-card-title>
          Methods
          <button mat-icon-button (click)="newSystem()" style="float: right;">
            <mat-icon>add_circle</mat-icon>
          </button>
      </mat-card-title>

    </mat-card>
    <mat-card>
      <mat-card-title>
          QCs
          <button mat-icon-button (click)="newSystem()" style="float: right;">
            <mat-icon>add_circle</mat-icon>
          </button>
      </mat-card-title>

    </mat-card>
    <mat-card>
      <mat-card-title>Data settings</mat-card-title>
        <form class="dataInstruments" [formGroup]="dataInstruments">
        <mat-form-field appearance="standard" class="fullWidth">
          <mat-label>Method Path</mat-label>
          <input matInput type="text" required name="method" formControlName="method" disabled>
          <!-- <mat-error *ngIf="dataInstruments.controls['method'].errors?.required && dataInstruments.controls['method'].touched"> -->
          <!--   Method Path is <strong>required</strong> -->
          <!-- </mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="standard" class="fullWidth">
          <mat-label>Path</mat-label>
          <input matInput type="text" required name="path" formControlName="path" disabled>
          <!-- <mat-error *ngIf="dataInstruments.controls['path'].errors?.required && dataInstruments.controls['path'].touched"> -->
          <!--   Path is <strong>required</strong> -->
          <!-- </mat-error> -->
        </mat-form-field>
      <mat-dialog-actions align="end">
        <button mat-button (click)="saveInstrumentPaths()">Save Instrument Paths</button>
      </mat-dialog-actions>
      </form>
    </mat-card>
  </div>
</div>
