<div>
    <mat-card style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <mat-card-title>
          {{ title }}
        </mat-card-title>
        {{additional}}
        <div *ngFor="let block of Categories"><h2>{{block.name}}</h2> 
          <mat-card-content>
              <mat-nav-list>
                <div *ngFor="let item of WetLabs">
                <a mat-list-item (click)="navigate(item)" *ngIf="block.id === item.wetlabCategory.id">{{item.name}}</a>
                </div>
              </mat-nav-list>
          </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="navigateToGuideset()">OPTIONS</button>
        </mat-card-actions>
    </mat-card>
</div>
