<div>
    <mat-card style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <mat-card-title>
            Wetlab
        </mat-card-title>
        (New 30 min gradient starting from 14/02/2022)
        <mat-card-content>
            <mat-nav-list>
                <a mat-list-item *ngFor="let item of WetLabs" (click)="navigate(item)">{{item.name}}</a>
            </mat-nav-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="navigateToGuideset()">OPTIONS</button>
        </mat-card-actions>
    </mat-card>
</div>
