<div>
    <mat-card style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <mat-card-title>
          {{ title }}
        </mat-card-title>
        {{additional}}
        <div class="wetlab-blocks">
          <div *ngFor="let block of Categories"><h2>{{block.name}}</h2>
             <ng-container [ngTemplateOutlet]='element' [ngTemplateOutletContext]="{block:block}"></ng-container>
          </div>
        </div>
        <mat-card-actions *ngIf="!local">
            <button mat-raised-button color="primary" (click)="navigateToGuideset()">OPTIONS</button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #element let-block='block'>
  <mat-card-content>
      <mat-nav-list>
        <ng-container *ngFor="let item of WetLabs">
          <a mat-list-item (click)="navigate(item)" *ngIf="block.id === item.wetlabCategory.id">{{item.name}}</a>
        </ng-container>
      </mat-nav-list>
  </mat-card-content>
</ng-template>
