<mat-card>
    <mat-card-title>
        QCloud2 related files
    </mat-card-title>
    <mat-card-subtitle>
        <!-- {{request.request_code}} -->
    </mat-card-subtitle>
    <mat-card-content>
        <div>
            <p *ngFor="let filerino of qCloud2Files">
                <span [matTooltip]="filerino.ls" [matTooltipPosition]="'above'">
                    {{filerino.filename}}
                </span>
                <span class="material-icons align" [class.warning]="filerino.conformity === 'WARNING'"
                [class.danger]="filerino.conformity === 'DANGER'" [class.ok]="filerino.conformity === 'OK'"
                [matTooltip]="filerino.conformityError" [matTooltipPosition]="'right'" [matTooltipClass]="'allow-cr'">
                fiber_manual_record
            </span>
        </p>

        <!-- <mat-paginator [length]="qCloud2Files.length"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onPaginate($event)">
        </mat-paginator> -->
    </div>
        <div *ngIf="qCloud2Files != undefined">
            <div *ngIf="qCloud2Files.length === 0">
                <p class="mat-body">
                    Nothing found
                </p>
            </div>
        </div>
        <div *ngIf="error !=  undefined">
            <p class="mat-body">
                {{error.error.error}}
            </p>
            <p class="mat-small">
                {{error.error.message}}
            </p>
        </div>
    </mat-card-content>
</mat-card>