.warning {
    color: yellow !important;
}

.danger {
    color: red !important;
}

.ok {
    color: green !important;
}

.align {
    vertical-align: middle
}

.allow-cr {
    white-space: pre-line;
}
