<mat-card>
    <mat-card-title>
        QCloud2 related files
    </mat-card-title>
    <mat-card-subtitle>
        <!-- {{request.request_code}} -->
    </mat-card-subtitle>
    <mat-card-content>
        <p *ngFor="let filerino of qCloud2Files">
            {{filerino.filename}}
            <span class="material-icons align" [class.warning]="filerino.conformity === 'WARNING'" [class.danger]="filerino.conformity === 'DANGER'" [class.ok]="filerino.conformity === 'OK'">
                fiber_manual_record
            </span>
        </p>
        <div *ngIf="qCloud2Files != undefined">
            <div *ngIf="qCloud2Files.length === 0">
                <p class="mat-body">
                    Nothing found
                </p>
            </div>
        </div>
        <div *ngIf="error !=  undefined">
            <p class="mat-body">
                {{error.error.error}}
            </p>
            <p class="mat-small">
                {{error.error.message}}
            </p>
        </div>
    </mat-card-content>
</mat-card>