<h3>Dendogram(BETA)</h3>
<mat-card style="width: 700px;">
  <mat-card-content>
    <div *ngIf="nothingFound" class="pater">
      <h1 class="notFound">Nothing found with this parameters</h1>
    </div>

    <div [class.hide]="nothingFound === true">
      <mat-slider [max] = "100" [min] = "0" [(ngModel)]="sliderValue" [thumbLabel]="true" style="width: 95%;" (change)="sliderChange()">
      </mat-slider>
      <span class="material-icons cursor" style="margin-left: 5px;" matTooltip="Needed proteins to perform consensus">
        help
      </span>
    </div>
      <img [src]=imageUrl id="dendogram" *ngIf="showImg" class="graph mat-elevation-z1">
      <h3>
        {{errorMessage}}
      </h3>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </mat-card-content>
</mat-card>


