.cursor {
    cursor: pointer;
    vertical-align: center;
}

.mat-progress-spinner {
  margin: 2em auto;
}

#agendoDown {
  margin: 1em;
  color: red;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}
