<div fxLayout="column">
  <section class="mat-typography title-group">
    <h1 style="margin: 20px;">
      <div *ngIf="request != undefined">
        <span class="material-icons cursor" (click)="goBack()">
          arrow_back_ios
        </span>
        {{requestCode}}<button style="float: right;" mat-raised-button (click)="goToQGenerator()">QGenerator</button>
      </div>
    </h1>

  </section>
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutGap="2vw">
      <div>
        <app-request-details-panel [request]="request" style=""></app-request-details-panel>
      </div>
      <div>
        <app-request-qcloud2-files style="" [request]="requestCode">
        </app-request-qcloud2-files>
      </div>
    </div>
    <div fxFlex>
      <mat-card>
        <mat-card-title>
          Request plots
        </mat-card-title>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2vw">
            <div fxLayout="column">
              <app-request-plot-file-list [requestCode]="requestCode" *ngIf="requestCode"></app-request-plot-file-list>
              <app-request-quantification></app-request-quantification>
            </div>
            <app-request-plot-request></app-request-plot-request>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" *ngIf="isInternal">
    <app-request-wetlab-main style="width: 100%; margin-top: 3%;"></app-request-wetlab-main>
  </div>
</div>
