.container {
    width: 100%; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.home-page-tabs {
  margin: 10px;
}

.home-tab-content {
  padding-top: 10px;
}

.home-page-tabs ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.home-page-tabs ::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #0d47a1;
}

.home-page-tabs ::ng-deep .mat-tab-label.mat-tab-label-active {
  color: #0d47a1;
  opacity: 1;
}

.home-page-tabs ::ng-deep .mat-tab-label {
  font-weight: 600;
}