<h2 mat-dialog-title>
    Injection conditions
</h2>
<mat-dialog-content>
    <h3>
        {{instrument.name}}
    </h3>
    <h3>
        {{application.name}}
    </h3>
    <div>
        <form [formGroup]="injCondForm">
            <mat-form-field appearance="standard">
                <mat-label>Volume</mat-label>
                <input matInput formControlName="volume" type="number">
            </mat-form-field>
            <!-- <br> -->
            <p *ngFor="let method of injectionCondition.methods">
              {{method.name}}
            </p>
            <mat-form-field appearance="fill" style="width: 90%;">
                <mat-label>Method</mat-label>
                <mat-select formControlName="method">
                  <mat-option *ngFor = "let method of allMethods" [value]="method">
                    {{method.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="delete()" *ngIf="isUpdate">Delete</button>
    <button mat-button (click)="save()" [disabled]="!injCondForm.valid">Save</button>
</mat-dialog-actions>
